@{
    ViewBag.Title = "Welcome to Akiva Project!";
}
<h2>Welcome to Akiva Project!</h2>
Logged in as @HttpContext.Current.User.Identity.Name
<p></p>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}